.a{
    background-image: url("1.png");
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    border: 10px  solid black;
    border-style: double;
    border-radius: 100px;
}
.b{
    max-width: 100%;
  max-height:100%;
    margin-left: 5%;
}
.c{
    margin-left: 25%;
    font-size: 25px;
    padding-left: 30px;
}
.d{
    font-size: 50px;
    color: rgb(255, 68, 21);
}
.e{
    font-size: 40px;
}
body{
    background-image: url("2.gif");
}